form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90%;
}

.num-of-questions-container, .category-container, .difficulty-container {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  font-weight: 600;
}
