.question-box {
  height: 480px;
  width: 640px;
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  padding: 24px;
}

  .question {
    font-size: 32px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    text-align: center;
  }

.answer {
  background-color: #14213d;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.answer:hover {
  background-color: #365eb4;
}

.number-of-answers {
  display: flex;
  justify-content: end;
}
